<!DOCTYPE html>
<html lang="en">

<head>
    <title>EVENTS TROLLEY</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Events Trolley">
    <meta name="keywords" content="Events, tickets, parties, hangout, team bonding, nightlife">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/admin-style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->

        <div class="admin-login-container">
            <div class="logo-banner">
                <div class="logo-div"><img src="../../static/images/trolleylogo.png" alt="logo" width="70" class="img-fluid"><span class="logo-name">EVENTS TROLLEY</span></div>
                <button class="main-site-btn btn btn-outline-dark"><a href="{{ url_for('homepage') }}" class="colored-link">Main site</a></button>
            </div>

            <div class="admin-login-form">

                <div class="icon-admin">
                    <div class=""><img src="../../static/images/admin-lock.png" alt="admin-login-icon" width="60" class="img-fluid"></div>
                    <div class=""><h3 class="admin-login-text">Administrator Login</h3></div>
                    
                </div>
          
                <form action="{{ url_for('admindashboard') }}" method="post" class="mt-4">

                    {% set m = get_flashed_messages() %}
                    {% if m %}
                    {% for i in m %}
                    <p class='alert alert-danger'>{{ i }}</p>
                    {% endfor %}
                    {% endif %}

                    <input type='hidden' name='csrf_token' value="{{ csrf_token() }}"> 

                    <div class="form-outline mb-4">
                        <label class="form-label" for="admin-email">Email address</label>
                        <input type="email" id="admin-email" class="form-control" name="admin_email"/>
                      </div>
                    
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <label class="form-label" for="admin-password">Password</label>
                        <input type="password" id="admin-password" name="admin_password" class="form-control" />
                      </div>
                    
                
                      <div class="row mb-4">
                        <div class="col d-flex justify-content-between">
                   
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="rememberme"/>
                            <label class="form-check-label" for="rememberme"> Remember me </label>
                          </div>

                          <div>
                            <!-- Forgot password -->
                            <a href="#" class="forgot-pw">Forgot password?</a>
                          </div>
                        </div>
                    
                        
                      </div>
                    
                      <!-- Submit button -->
                      <div class="admin-login-btncontainer">
                        <button type="submit" class="btn admin-login-btn">Login</button>
                      </div>
                      
    
                </form>
    
            </div>
        </div>

        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/chart/chart.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>